

::-webkit-scrollbar { -webkit-appearance:none; }
::-webkit-scrollbar-track { background-color:transparent; }
::-webkit-scrollbar-thumb { border-radius:12px;   border:4px solid rgba(0,0,0,0);   background-clip:content-box;   }
::-webkit-scrollbar-thumb:hover {  border-radius:12px;   border:4px solid rgba(0,0,0,0);   background-clip:content-box;   background-color:#A0A0A0; }
::-webkit-scrollbar-corner { background-color: transparent; }
::-webkit-scrollbar-thumb { background-color: #bbbbbb;  }


body{
    scrollbar-base-color: #000;
    scrollbar-base-color: #000;
    scrollbar-3dlight-color: #000;
    scrollbar-highlight-color: #000;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: black;
    scrollbar-shadow-color: #000;
    scrollbar-dark-shadow-color: #000;
    scrollbar-face-color: #4D4D4D;
}



body {  margin: 0; padding: 0; width: 100%; height:100%; overflow: hidden; position: fixed;  }
a { color: inherit; text-decoration: none;}
/*ul,li {margin: 0;padding: 0; display: block; }*/
select{  width: 100%;     height: 20px;     }
/*button{  border-radius: 12px; border: none; height: 26px;  width:100%; margin:2px; outline: none; }*/
/*button{  border-radius: 12px;  height: 26px;  width:100%;  outline: none; cursor: pointer; margin-top: 6px; }*/
button{  border-radius: 12px;  height: 26px;  width:100%;  outline: none; cursor: pointer; margin-top: 6px; border-width: 1px; padding: 0; background-color: #f1f1f1;     border: none; }

.no-outline{outline: none; }
*[event]{ cursor:pointer; }

ul.no-margin-padding, ul.no-margin-padding li {margin: 0;padding: 0; display: block; }




/*.unselectable{   -moz-user-select: none;   -webkit-user-select: none;   -ms-user-select: none;    user-select: none; }*/

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.dropShadow  { -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,.5); -moz-box-shadow: 2px 2px 6px rgba(0,0,0,.5); box-shadow: 2px 2px 6px rgba(0,0,0,.5);	}
/*.dropShadow  {  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);	}*/


.scrollableXY{ overflow: scroll; overflow-x: auto;  overflow-y:auto;  -webkit-overflow-scrolling:touch; }
.scrollableX{ overflow: scroll; overflow-x: auto;  overflow-y:hidden;  -webkit-overflow-scrolling:touch; }
.scrollableY{ overflow: scroll; overflow-x:hidden;  overflow-y:auto;  -webkit-overflow-scrolling:touch; }

.hidden{ display:none !important; }
.hidden-items>*{ display:none; }
.hidden-items>*.showed{ display:block;  }


.selectable-items>*{ opacity: .5; }
.selectable-items>*.selected{ opacity: 1; color:#30B2F0;  }

#TEMPLATES,.templates{display:none;}


.view{ width:100%; height:100%; position: absolute; }
.view>.header{  height: 32px; padding:10px; font-size: 14px;   }
.view>.header > *{ display:inline-block; vertical-align: middle;     line-height: 32px; }
.view>.header > .buttonList{  height: 32px;  }
.view>.content{ position: absolute;display: block;top: 52px;left: 0px;right: 0px;bottom: 52px; margin: 0; padding: 20px; }
.view>.footer{      height: 32px; padding: 10px;font-size: 14px; position: absolute; left:0; bottom: 0; right: 0;   }
.view>.footer > *{ display:inline-block; vertical-align: middle;     }
.view>.footer > .buttonList{  height: 32px;  }
