/* FILES ICONS */
*[class$="_icon16x16"]{ background-image:url(../images/fileSystem/txt.png) ; }  /* default icon */
.hd_icon16x16{  background-image:url(../images/fileSystem/hd.png); }
.basket_icon16x16{  background-image:url(../images/fileSystem/basket.png); }
.dir_icon16x16{  background-image:url(../images/fileSystem/dir.png); }
.dirSymbol_icon16x16{  background-image:url(../images/fileSystem/dirSymbol.png); }
.sharedDir_icon16x16{  background-image:url(../images/fileSystem/dirShared.png) ; }
.txt_icon16x16{  background-image:url(../images/fileSystem/txt.png) ; }
.css_icon16x16{  background-image:url(../images/fileSystem/css.png) ; }
.htm_icon16x16{  background-image:url(../images/fileSystem/html.png) ; }
.html_icon16x16{  background-image:url(../images/fileSystem/html.png) ; }
.js_icon16x16{  background-image:url(../images/fileSystem/js.png) ; }
.php_icon16x16{  background-image:url(../images/fileSystem/php.png) ; }
.xml_icon16x16{  background-image:url(../images/fileSystem/xml.png) ; }
.svg_icon16x16{  background-image:url(../images/fileSystem/svg.png) ; }
.sy3d_icon16x16{  background-image:url(../images/fileSystem/svg.png) ; }
.domus_icon16x16{  background-image:url(../images/fileSystem/domus.png) ; }
/* .svg3d_icon16x16{  background-image:url(graphics/system/svg3d.png) ; } */
.png_icon16x16{  background-image:url(../images/fileSystem/png.png) ; }
.gif_icon16x16{  background-image:url(../images/fileSystem/gif.png) ; }
.jpg_icon16x16{  background-image:url(../images/fileSystem/jpg.png) ; }
.jpeg_icon16x16{  background-image:url(../images/fileSystem/jpg.png) ; }
.json_icon16x16{  background-image:url(../images/fileSystem/json.png) ; }
.folder{  background-image:url(../images/fileSystem/folder.svg) ; }
/*.progress_icon16x16{  background-image:url(../images/loaders/loader_dark.gif) ; }*/