.gdrive-panel .content {  padding: 0; display:block;  position: absolute;  top:26px;  bottom: 10px;  left:20px;  right:20px;   }
.gdrive-panel .full-path-display { border: 1px solid #929292; color: #404040; padding: 4px; position: absolute; top: 40px; left: 0px; right: 0px; height: 16px; line-height: 16px; border-radius: 4px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 11px; }
.gdrive-panel .file-name-display{  position: absolute; padding: 8px; bottom:47px; left:0px; right:0px; height:30px; border: 2px solid #929292;  border-radius: 5px; }
.gdrive-panel .file-name-display .label { font-size: 10px;}
.gdrive-panel .file-name-display input { margin-top: 2px; width:100%; color:black; font-size: 13px; background: transparent; border: 0; outline: none;}

.gdrive-panel .buttons { position:absolute; display:block; right:12px; bottom:6px; }
.gdrive-panel .buttons button { width:100px; margin:4px;  }
.gdrive-panel .file-list  {  padding: 0;  position: absolute;  top:85px;  bottom: 95px;  left:0;  right:0;   }


.itemList_icon { background-position: -672px -128px; }
.itemGrid_icon { background-position: -640px -128px; }

.fileList-header { position: absolute; top: 75px; left: 0px; right: 0px;  font-size: 12px; text-align:left; line-height: 20px; color:#777777;}
.fileList-header>*{ position: absolute;  vertical-align: middle;  height:20px;  }
.fileList-header>.file-name-header {   left:0; right:140px; }
.fileList-header>.modified-date-header {  width:80px; right:64px; text-align: right; }
.fileList-header>.file-size-header {  width:64px; right:0; text-align: right; }

.fileListViewTemplate {  width:100%; font-size: 12px; text-align:left;  height:20px; line-height: 20px;  }
.fileListViewTemplate>*{ position: absolute; pointer-events: none; display:inline-block; vertical-align: middle;  height:20px; }
.fileListViewTemplate>.thumbnail { background-repeat: no-repeat; width:30px; left:4px;   }
.fileListViewTemplate>[name] {  left:30px; right:140px; }
.fileListViewTemplate>[name] input {  width:100%; pointer-events: all; }
.fileListViewTemplate>.modified-date {  width:80px; right:64px; text-align: right; }
.fileListViewTemplate>.file-size {  width:64px; right:0; text-align: right; }
.fileListViewTemplate.selected{  color: white; background-color: #2f2f2f; }
/*.fileListViewTemplate.selected>div{  background-color: #3c3c3c; }*/



.fileGridViewTemplate  { display:inline-block; width:110px; height:148px; border-radius: 4px; font-size: 12px; text-align:center; vertical-align: top; margin:4px; /* background-color:#f1f1f1;*/}
.fileGridViewTemplate>*{  pointer-events: none; }
.fileGridViewTemplate>.thumbnail { background-repeat: no-repeat; width:110px; height:110px; background-size: 100%; /*background-color: white;*/ border-radius: 4px;      }
.fileGridViewTemplate>[name] { width:100px; height:30px;  margin: 4px;  text-overflow: ellipsis;  word-wrap: break-word;     overflow: hidden; }
.fileGridViewTemplate>[name] input {  width:100%; pointer-events: all; }
.fileGridViewTemplate.selected{  color: white; background-color: #2f2f2f; }








/*.gdrive-panel .file-list li>*{ pointer-events: none; }*/
/*.gdrive-panel .file-list li {  color: rgba(0, 0, 0, 0.85); position: relative;  cursor: pointer;  margin:0;  line-height: 20px; white-space: nowrap; font-size: 12px; text-align:left; !*border-radius: 4px;*! }*/
/*.gdrive-panel .file-list li:hover { color:black;}*/
/*.gdrive-panel .file-list li>div {display:inline-block; background-repeat: no-repeat;   background-position-x: 18px; padding-left: 38px; width:100%; !*border-radius: 4px;*! }*/
/*.gdrive-panel .file-list li>div>input{background: none; color:black; border: none; font-size: 10px; width:80%;}*/
/*.gdrive-panel .file-list li.selected{  color: white; background-color: #2f2f2f; }*/
/*.gdrive-panel .file-list li.selected>div{  background-color: #3c3c3c; }*/

