




#DOCUMENTS_CONTAINER[active-tool='selectionGlobal2D_tool']{ cursor:url(../images/cursors/arrowBlack_cur.png), default;}
#DOCUMENTS_CONTAINER[active-tool='selectionGlobal2D_tool']:active{  cursor:url(../images/cursors/translateObject_cur.png) 16 16, default!important;}

#DOCUMENTS_CONTAINER[active-tool='selectionGlobal2D_tool'].over-element{ cursor:url(../images/cursors/arrowBlackOverInstance_cur.png), default;}
#DOCUMENTS_CONTAINER[active-tool='selectionGlobal2D_tool'].over-element:active{ cursor:url(../images/cursors/translateObject_cur.png) 16 16, default!important; }

#DOCUMENTS_CONTAINER[active-tool='selectionGlobal2D_tool'].over-vertex{ cursor:url(../images/cursors/arrowBlackOverVertex_cur.png), default!important;}
#DOCUMENTS_CONTAINER[active-tool='selectionGlobal2D_tool'].over-vertex:active { cursor:url(../images/cursors/translateObjectOverVertex_cur.png) 16 16, default!important;}

#DOCUMENTS_CONTAINER[active-tool='selectionGlobal2D_tool'] + #INTERACTION_2D .translate { cursor: move; }
#DOCUMENTS_CONTAINER[active-tool='selectionGlobal2D_tool'] + #INTERACTION_2D .resize { cursor: nesw-resize; }

#DOCUMENTS_CONTAINER[active-tool='selectionGlobal2D_tool'].over-element.key-pressed-alt,
#DOCUMENTS_CONTAINER[active-tool='selectionGlobal2D_tool'].over-element.over-vertex.key-pressed-alt
{ cursor:url(../images/cursors/arrowBlackMoveCopy_cur.png), default!important; }



#DOCUMENTS_CONTAINER[active-tool='selectionPoint2D_tool']{ cursor:url(../images/cursors/arrowWhite_cur.png), default;}
#DOCUMENTS_CONTAINER[active-tool='selectionPoint2D_tool']:active{  cursor:url(../images/cursors/translateObject_cur.png) 16 16, default!important; }

#DOCUMENTS_CONTAINER[active-tool='selectionPoint2D_tool'].over-element{ cursor:url(../images/cursors/arrowWhiteOverInstance_cur.png), default;}
#DOCUMENTS_CONTAINER[active-tool='selectionPoint2D_tool'].over-element.key-pressed-alt{ cursor:url(../images/cursors/pathAddPoint_cur.png) 16 16, default; }
#DOCUMENTS_CONTAINER[active-tool='selectionPoint2D_tool'].over-element:active{ cursor:url(../images/cursors/translateObject_cur.png) 16 16, default!important; }

#DOCUMENTS_CONTAINER[active-tool='selectionPoint2D_tool'].over-vertex{ cursor:url(../images/cursors/arrowWhiteOverVertex_cur.png), default!important;}
#DOCUMENTS_CONTAINER[active-tool='selectionPoint2D_tool'].over-vertex:active{  cursor:url(../images/cursors/translateObjectOverVertex_cur.png) 16 16, default!important;}

#DOCUMENTS_CONTAINER[active-tool='selectionPoint2D_tool'].over-element.key-pressed-alt { cursor:url(../images/cursors/arrowWhiteMoveCopy_cur.png), default!important; }
#DOCUMENTS_CONTAINER[active-tool='selectionPoint2D_tool'].over-element.over-segment.key-pressed-alt { cursor:url(../images/cursors/pathAddPointOverVertex_cur.png) 16 16, default!important; }



#DOCUMENTS_CONTAINER[active-tool='selectionPoint2D_tool'] + #INTERACTION_2D .translate { cursor: move; }
#DOCUMENTS_CONTAINER[active-tool='selectionPoint2D_tool'] + #INTERACTION_2D .resize { cursor: nesw-resize; }
#DOCUMENTS_CONTAINER[active-tool='selectionPoint2D_tool'].key-pressed-alt + #INTERACTION_2D .resize { cursor:url(../images/cursors/pathRemovePoint_cur.png) 16 16, default; }


/*#INTERACTION_2D .translate{cursor: move;}*/
/*#INTERACTION_2D .resize{cursor: nesw-resize;}*/

#DOCUMENTS_CONTAINER[active-tool='panView2D_tool']{  cursor:url(../images/cursors/hand_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='panView2D_tool']:active{  cursor:url(../images/cursors/hand_close_cur.png) 16 16, default;}

#DOCUMENTS_CONTAINER[active-tool='zoomView2D_tool']{ cursor:url(../images/cursors/zoom_cur.png) 16 16, default;}


#DOCUMENTS_CONTAINER[active-tool='drawRectangle2D_tool']{ cursor:url(../images/cursors/rect_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='drawRectangle2D_tool'].over-vertex{ cursor:url(../images/cursors/rectOverVertex_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='drawRectangle2D_tool']:active{ cursor:url(../images/cursors/crosshair_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='drawRectangle2D_tool'].over-vertex:active{ cursor:url(../images/cursors/crosshairOverVertex_cur.png) 16 16, default;}



#DOCUMENTS_CONTAINER[active-tool='drawEllipse2D_tool']{ cursor:url(../images/cursors/ellipse_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='drawEllipse2D_tool'].over-vertex{ cursor:url(../images/cursors/ellipseOverVertex_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='drawEllipse2D_tool']:active{ cursor:url(../images/cursors/crosshair_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='drawEllipse2D_tool'].over-vertex:active{ cursor:url(../images/cursors/crosshairOverVertex_cur.png) 16 16, default;}


#DOCUMENTS_CONTAINER[active-tool='drawLine2D_tool']{ cursor:url(../images/cursors/line_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='drawLine2D_tool'].over-vertex{ cursor:url(../images/cursors/lineOverVertex_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='drawLine2D_tool']:active{ cursor:url(../images/cursors/crosshair_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='drawLine2D_tool'].over-vertex:active{ cursor:url(../images/cursors/crosshairOverVertex_cur.png) 16 16, default;}

#DOCUMENTS_CONTAINER[active-tool='drawArc2D_tool']{ cursor:url(../images/cursors/arc_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='drawArc2D_tool'].over-vertex{ cursor:url(../images/cursors/arcOverVertex_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='drawArc2D_tool']:active{ cursor:url(../images/cursors/crosshair_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='drawArc2D_tool'].over-vertex:active{ cursor:url(../images/cursors/crosshairOverVertex_cur.png) 16 16, default;}





#DOCUMENTS_CONTAINER[active-tool='drawTextBox2D_tool']{ cursor:url(../images/cursors/textBox_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='drawTextBox2D_tool']:active{ cursor:url(../images/cursors/crosshair_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='drawTextBox2D_tool'].over-vertex:active{ cursor:url(../images/cursors/crosshairOverVertex_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool="drawTextBox2D_tool"] .layer text:hover{  cursor: text!important; }


#DOCUMENTS_CONTAINER[active-tool='drawPath2D_tool']{ cursor:url(../images/cursors/path_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='drawPath2D_tool'].over-vertex{ cursor:url(../images/cursors/pathOverVertex_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='drawPath2D_tool']:active{ cursor:url(../images/cursors/crosshair_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='drawPath2D_tool'].over-vertex:active{ cursor:url(../images/cursors/crosshairOverVertex_cur.png) 16 16, default;}


/*#DOCUMENTS_CONTAINER[active-tool='removePathSegment2D_tool']{ cursor:url(../images/cursors/pathRemovePoint_cur.png) 16 16, default;}*/
/*#DOCUMENTS_CONTAINER[active-tool='removePathSegment2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #point-list .translate,*/
/*#DOCUMENTS_CONTAINER[active-tool='removePathSegment2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #control-point-list,*/
/*#DOCUMENTS_CONTAINER[active-tool='removePathSegment2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #path-interaction line{ display:none; }*/
/*#DOCUMENTS_CONTAINER[active-tool='removePathSegment2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #point-list .resize { cursor:url(../images/cursors/pathRemovePointOverVertex_cur.png) 16 16, default; }*/



#DOCUMENTS_CONTAINER[active-tool='splitPath2D_tool']{ cursor:url(../images/cursors/pathCutter_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='splitPath2D_tool'].over-vertex{ cursor:url(../images/cursors/pathCutterOverVertex_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='splitPath2D_tool']:active{ cursor:url(../images/cursors/crosshair_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='splitPath2D_tool'].over-vertex:active{ cursor:url(../images/cursors/crosshairOverVertex_cur.png) 16 16, default;}

#DOCUMENTS_CONTAINER[active-tool='splitPath2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #point-list .translate,
#DOCUMENTS_CONTAINER[active-tool='splitPath2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #control-point-list,
#DOCUMENTS_CONTAINER[active-tool='splitPath2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #path-interaction line{ display:none; }
#DOCUMENTS_CONTAINER[active-tool='splitPath2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #point-list .resize { cursor:url(../images/cursors/pathCutterOverVertex_cur.png) 16 16, default; }






#DOCUMENTS_CONTAINER[active-tool='convertPathPoint2D_tool'] { cursor:url(../images/cursors/convertPathPoint_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='convertPathPoint2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #point-list .translate,
#DOCUMENTS_CONTAINER[active-tool='convertPathPoint2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #control-point-list,
#DOCUMENTS_CONTAINER[active-tool='convertPathPoint2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #path-interaction line{ display:none; }
#DOCUMENTS_CONTAINER[active-tool='convertPathPoint2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #point-list .resize { cursor:url(../images/cursors/convertPathPointOverVertex_cur.png) 16 16, default; }



#DOCUMENTS_CONTAINER[active-tool='roundPathCorner2D_tool'] { cursor:url(../images/cursors/roundPathCorner_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='roundPathCorner2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #point-list .resize { cursor:url(../images/cursors/roundPathCornerOverVertex_cur.png) 16 16, default; }
#DOCUMENTS_CONTAINER[active-tool='roundPathCorner2D_tool']:active{ cursor:crosshair; }
#DOCUMENTS_CONTAINER[active-tool='roundPathCorner2D_tool'].over-vertex:active{ cursor:url(../images/cursors/crosshairOverVertex_cur.png) 16 16, default;}


#DOCUMENTS_CONTAINER[active-tool='dividePath2D_tool']{ cursor:url(../images/cursors/pathAddPoint_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='dividePath2D_tool'].over-vertex{ cursor:url(../images/cursors/pathAddPointOverVertex_cur.png) 16 16, default;}

#DOCUMENTS_CONTAINER[active-tool='dividePath2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #point-list .translate,
#DOCUMENTS_CONTAINER[active-tool='dividePath2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #control-point-list,
#DOCUMENTS_CONTAINER[active-tool='dividePath2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #path-interaction line{ display:none; }
#DOCUMENTS_CONTAINER[active-tool='dividePath2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #point-list .resize { cursor:url(../images/cursors/pathRemovePoint_cur.png) 16 16, default; }



#DOCUMENTS_CONTAINER[active-tool='drawFreehand2D_tool']{ cursor:url(../images/cursors/pen_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='drawFreehand2D_tool']:active{ cursor:crosshair;}
#DOCUMENTS_CONTAINER[active-tool='drawFreehand2D_tool'].key-pressed-cmd{ cursor:url(../images/cursors/arrowBlack_cur.png), default; }



#DOCUMENTS_CONTAINER[active-tool='rotate2D_tool']{ cursor:url(../images/cursors/crosshair_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='rotate2D_tool'].over-vertex{ cursor:url(../images/cursors/crosshairOverVertex_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='rotate2D_tool']:active{ cursor:url(../images/cursors/crosshair_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='rotate2D_tool'].over-vertex:active{ cursor:url(../images/cursors/crosshairOverVertex_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='rotate2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #control-point-list,
#DOCUMENTS_CONTAINER[active-tool='rotate2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS .interaction-point:not(.selected)
{ display:none; pointer-events: none; }
#DOCUMENTS_CONTAINER[active-tool='rotate2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS .resize,
#DOCUMENTS_CONTAINER[active-tool='rotate2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS .translate
{pointer-events: none;}



#DOCUMENTS_CONTAINER[active-tool='scale2D_tool']{ cursor:url(../images/cursors/crosshair_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='scale2D_tool'].over-vertex{ cursor:url(../images/cursors/crosshairOverVertex_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='scale2D_tool']:active{ cursor:url(../images/cursors/crosshair_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='scale2D_tool'].over-vertex:active{ cursor:url(../images/cursors/crosshairOverVertex_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='scale2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #control-point-list,
#DOCUMENTS_CONTAINER[active-tool='scale2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS .interaction-point:not(.selected)
{ display:none; pointer-events: none; }
#DOCUMENTS_CONTAINER[active-tool='scale2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS .resize,
#DOCUMENTS_CONTAINER[active-tool='scale2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS .translate
{pointer-events: none;}



/*#DOCUMENTS_CONTAINER[active-tool='scale2D_tool']{ cursor:url(../images/cursors/scale_cur.png) 16 16, default;}*/
/*#DOCUMENTS_CONTAINER[active-tool='scale2D_tool'].over-vertex{ cursor:url(../images/cursors/scaleOverVertex_cur.png) 16 16, default;}*/
/*#DOCUMENTS_CONTAINER[active-tool='scale2D_tool']:active{ cursor:url(../images/cursors/crosshair_cur.png) 16 16, default;}*/
/*#DOCUMENTS_CONTAINER[active-tool='scale2D_tool'].over-vertex:active{ cursor:url(../images/cursors/crosshairOverVertex_cur.png) 16 16, default;}*/
/*#DOCUMENTS_CONTAINER[active-tool='scale2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #point-list .translate,*/
/*#DOCUMENTS_CONTAINER[active-tool='scale2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #control-point-list,*/
/*#DOCUMENTS_CONTAINER[active-tool='scale2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #point-list .interaction-point:not(.selected),*/
/*#DOCUMENTS_CONTAINER[active-tool='scale2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS #path-interaction line{ display:none; pointer-events: none; }*/




#DOCUMENTS_CONTAINER[active-tool='editGradientPoints2D_tool']{ cursor:url(../images/cursors/editGradientPoints_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='editGradientPoints2D_tool'].over-vertex{ cursor:url(../images/cursors/editGradientPointsOverVertex_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='editGradientPoints2D_tool']:active{ cursor:url(../images/cursors/crosshair_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='editGradientPoints2D_tool'].over-vertex:active{ cursor:url(../images/cursors/crosshairOverVertex_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='editGradientPoints2D_tool'].key-pressed-cmd{ cursor:url(../images/cursors/arrowBlack_cur.png), default; }
#DOCUMENTS_CONTAINER[active-tool='editGradientPoints2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS{display:none;}


#DOCUMENTS_CONTAINER[active-tool='eyeDropper2D_tool']{ cursor:url(../images/cursors/eyedropper_cur.png) 16 16, default;}
#DOCUMENTS_CONTAINER[active-tool='eyeDropper2D_tool']:active{ cursor:crosshair;}
#DOCUMENTS_CONTAINER[active-tool='eyeDropper2D_tool'].key-pressed-cmd{ cursor:url(../images/cursors/arrowBlack_cur.png), default; }
#DOCUMENTS_CONTAINER[active-tool='eyeDropper2D_tool'] + #INTERACTION_2D #INTERACTION_POINTS{display:none;}

#DOCUMENTS_CONTAINER[active-tool='filling2D_tool']{ cursor:url(../images/cursors/fill_cur.png) 16 16, default;}


#DOCUMENTS_CONTAINER.key-pressed-space { cursor:url(../images/cursors/hand_cur.png) 16 16, default!important;}
#DOCUMENTS_CONTAINER.key-pressed-space:active { cursor:url(../images/cursors/hand_close_cur.png) 16 16, default!important;}

#DOCUMENTS_CONTAINER.element-selection-by-rect-area:active {cursor:url(../images/cursors/arrowBlack_cur.png), default!important;}





