.blinker { animation-name: blinker; animation-iteration-count: infinite; animation-timing-function: cubic-bezier(1,0,0,1); animation-duration: 1s; stroke-width: 3px!important;; vector-effect: non-scaling-stroke; }
@keyframes blinker { from { opacity: 1.0; } to { opacity: 0.0; } }


svg{ -moz-user-select: none;   -webkit-user-select: none;   -ms-user-select: none;    user-select: none;  }
svg .content{ isolation: isolate; }
svg .grid{ pointer-events:none; }
svg .guides {display:inline!important;}
svg .guides line{ stroke: #ff387c; stroke-width:1; vector-effect: non-scaling-stroke; }
svg .layer.hidden, svg .layer.locked{ pointer-events:none; }
svg .layer.temporary-hidden{ display:none; pointer-events:none; }

svg .layer text{  outline: 1px solid transparent; }
svg .layer:not(.hidden):not(.temporary-hidden):not(.locked) text{  pointer-events:bounding-box; }
/*svg .layer:not(.hidden):not(.temporary-hidden):not(.locked) use{  pointer-events:bounding-box; }*/
svg .layer text[data-type="TextOnPath"]{ pointer-events:visiblePainted; }
svg .layer text[contenteditable]{ -moz-user-select: text; -webkit-user-select: text; -ms-user-select: text; user-select: text; cursor: text; pointer-events:auto; }

.isolate-layer-editing .layer:not(.selected ){ opacity:.4;  }
.isolate-layer-editing .layer.clip-path>*:not(:first-child),
.isolate-layer-editing .layer.pattern>rect.view-box,
.isolate-layer-editing .layer.marker>rect.view-box { fill:none; stroke: red; stroke-dasharray:4; stroke-width:2; vector-effect: non-scaling-stroke; }
.isolate-layer-editing .foreground-layers{display:none;}

.element-selection-by-rect-area .isolate-layer-editing .layers .layer:not(.selected ){ pointer-events:none; }
.element-selection-by-rect-area .isolate-layer-editing .layers .layer:not(.selected ) text{ pointer-events:none; }
.element-selection-by-rect-area .layers .locked, .element-selection-by-rect-area .foreground-layers .locked{ pointer-events:none; }


svg.page-2D.disabled-selection-pointer-events>.content>.layers>.layer [selected]{ pointer-events:none; }


.precise-hit-test[stroke-width]{ stroke-width:10!important; vector-effect:non-scaling-stroke!important; stroke-linejoin:"miter"!important; 	stroke-dasharray:none!important; }



.layer path:not([selected]).pointer-hover,
.layer line:not([selected]).pointer-hover,
.layer ellipse:not([selected]).pointer-hover,
.layer rect:not([selected]).pointer-hover { stroke:#4387dd!important; stroke-linejoin:"miter"!important; }
.layer path:not([selected]).pointer-hover[stroke="none"],
.layer path:not([selected]).pointer-hover:not([stroke]),
.layer path:not([selected]).pointer-hover:not([stroke-width]),
.layer line:not([selected]).pointer-hover[stroke="none"],
.layer line:not([selected]).pointer-hover:not([stroke]),
.layer line:not([selected]).pointer-hover:not([stroke-width]),
.layer ellipse:not([selected]).pointer-hover[stroke="none"],
.layer ellipse:not([selected]).pointer-hover:not([stroke]),
.layer ellipse:not([selected]).pointer-hover:not([stroke-width]),
.layer rect:not([selected]).pointer-hover[stroke="none"],
.layer rect:not([selected]).pointer-hover:not([stroke-width]),
.layer rect:not([selected]).pointer-hover:not([stroke]) { stroke-width:4!important; vector-effect: non-scaling-stroke!important; }


/* usato da color picker */
foreignObject input { width: 100%; height: 18px; margin: 0; padding: 0; border: 1px solid #c6c3c4; text-align: center; -moz-user-select: text; -webkit-user-select: text; -ms-user-select: text; }

/* usato da html text box e da componenti esterni contenuti in un iframe */
/*foreignObject{ pointer-events:bounding-box; overflow: visible; }*/
/*foreignObject>div{width:100%; min-height: 100%; }*/
/*foreignObject>div>*{pointer-events:none;}*/
/*
foreignObject{overflow: visible; pointer-events:bounding-box;}
foreignObject>div{width:100%; min-height: 100%; word-break: break-all;}
foreignObject>div>*{pointer-events:none;}
foreignObject>div[contenteditable]{ -moz-user-select: text;   -webkit-user-select: text;   -ms-user-select: text;    user-select: text;}
foreignObject>div[contenteditable]>*{pointer-events:all; }
*/


#APPLICATION[app-state="locked"] .app-context{ opacity:0.5; pointer-events:none; }
#APPLICATION[app-state="locked"] .panel.app-context{ display:none ; }

#APPLICATION[document-state="locked"] .document-context { opacity:0.5; pointer-events:none; }
#APPLICATION[document-state="locked"] .panel.document-context { display:none ; }

#APPLICATION[document-selection-state="0"] .need-selection{ opacity:0.5; pointer-events:none; }
#APPLICATION[document-selection-state="0"] .panel.need-selection{ display:none ; }


#APPLICATION[document-selection-state="1"] .need-multiple-selection { opacity:0.5; pointer-events:none; }
#APPLICATION[document-selection-state="1"] .panel.need-multiple-selection { display:none ; }



#DOCUMENTS_CONTAINER.key-pressed-space ~ #INTERACTION_2D{ display: none;}


#WORKSPACE { pointer-events: none;}
#WORKSPACE .page { box-shadow: 0 0 0.5cm rgba(0,0,0,0.5); }

#INTERACTION_2D { pointer-events: none;}


#INTERACTION_2D #ORIGIN_XY {display:inline; pointer-events:none;}


#INTERACTION_2D > #ELEMENT_PREVIEWS .interactive-path { fill:none!important; }

/*#INTERACTION_2D > #ELEMENT_PREVIEWS line,*/
#INTERACTION_2D > #BBOX_2D line, #INTERACTION_2D > #PERSPECTIVE_DEFORM_2D line,
#INTERACTION_2D > #INTERACTION_POINTS line {stroke-width:1; stroke:#3d7cff;}


#INTERACTION_2D > #GRADIENT_2D_INTERACTION line { cursor: cell; pointer-events:all; }
#INTERACTION_2D > #GRADIENT_2D_INTERACTION .resize { cursor:nwse-resize; fill: #c7c7c7; stroke:white; stroke-width: 3; }
#INTERACTION_2D > #GRADIENT_2D_INTERACTION .stop-colors > circle { cursor: pointer; pointer-events:all; }


#INTERACTION_2D .translate, #INTERACTION_2D .resize, #INTERACTION_2D .rotate{ fill: rgba(255, 0, 0, 0); stroke-width:0; stroke:none;  pointer-events:all; }

#INTERACTION_2D .tip-icon{ fill:#3d7cff; stroke:#FFFFFF; display: none; }
/*#INTERACTION_2D .hot-area{ fill: rgba(255, 0, 0, 0); stroke-width:0; stroke:none;  pointer-events:all;   }*/
#INTERACTION_2D .rotate:hover + .tip-icon{ display:inline; }
#INTERACTION_2D .point{ fill:#FFFFFF; stroke:#3d7cff; }
#INTERACTION_2D .label{ pointer-events:all; cursor:pointer; }
/*#INTERACTION_2D .label text{ stroke: white;  stroke-width: 4px;  paint-order: stroke;  stroke-linejoin: round; }*/
#INTERACTION_2D text{ stroke: white;  stroke-width: 4px;  paint-order: stroke;  stroke-linejoin: round; }


#INTERACTION_2D #ROTATION_2D .translate:active {  pointer-events:none; }
#INTERACTION_2D #SCALE_2D .translate:active { pointer-events:none; }



#INTERACTION_2D .interaction-point.selected .point{ fill: #0073fb; stroke:#FFFFFF; }
#INTERACTION_2D .interaction-point.selected.focused .point{ fill: #33de05; stroke:#FFFFFF; }

#INTERACTION_2D #ELEMENT_PREVIEWS path{ fill:none!important; stroke:#0052FF; stroke-dasharray:0!important; filter:none!important; opacity: 1!important; stroke-width:1; vector-effect: non-scaling-stroke!important; }

#INTERACTION_2D.point-selection-area-mode #INTERACTION_POINTS { pointer-events:none; }
#INTERACTION_2D.point-selection-area-mode #INTERACTION_POINTS .point{ pointer-events:all; }

#MEASURE_TIP line{ stroke:#3d7cff; stroke-dasharray:2 2; stroke-width:2;  }

#DOCUMENTS_CONTAINER > div {  position:absolute; top: 0;   left:0;  bottom:0; right:0; }

#FILL_STROKE_DISPLAY .selected{filter:url(#drop-shadow);}
#TOOLS_REPOSITORY{ position:absolute; left:0; top:40px; bottom:0; width:90px;  }

.panel-repository.join-panels>.panel{ -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;  border-radius: 0; border-bottom: 1px solid #e5e5e5; }
/*.panel-repository.join-panels>.panel:not(.hidden){  border-top: 1px solid #e5e5e5;  }*/

.panel-repository.join-panels>.panel:not(.hidden)~.panel:not(.hidden){
    /*-webkit-border-top-left-radius:0;   -moz-border-top-left-radius:0; 	border-top-left-radius:0;*/
    /*-webkit-border-top-right-radius:0;   -moz-border-top-right-radius:0; 	border-top-right-radius:0;*/
}

/*.panel-repository.join-panels>.panel:not([style*="display: none"]):last-child{ !* bla *!}*/
.panel-repository.join-panels>.panel:not(.hidden):last-child{
    -webkit-border-bottom-left-radius:4px;   -moz-border-bottom-left-radius:4px; 	border-bottom-left-radius:4px;
    -webkit-border-bottom-right-radius:4px;   -moz-border-bottom-right-radius:4px; 	border-bottom-right-radius:4px;
}

/*
.panel-repository.join-panels>.panel{ -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-radius: 0; }
.panel-repository.join-panels>.panel:not(.hidden){  border-top: 1px solid #e5e5e5;  }
.panel-repository.join-panels>.panel:first-child{
    -webkit-border-top-left-radius:4px;   -moz-border-top-left-radius:4px; 	border-top-left-radius:4px;
    -webkit-border-top-right-radius:4px;   -moz-border-top-right-radius:4px; 	border-top-right-radius:4px;
}
.panel-repository.join-panels>.panel:last-child{

    -webkit-border-bottom-left-radius:4px;   -moz-border-bottom-left-radius:4px; 	border-bottom-left-radius:4px;
    -webkit-border-bottom-right-radius:4px;   -moz-border-bottom-right-radius:4px; 	border-bottom-right-radius:4px;
}
*/


.buttonList.tools{  padding:0 8px 8px 8px ;  }
/*.panel.tools>.content>.buttonList{  padding:0 8px 8px 8px ;  }*/

#ACCESSORIES_BAR { position: absolute; padding-top:12px; right:0; top:40px; bottom:0; width: 50px;   text-align: center;  }

#ORIGIN_RULERS {   position: fixed;   left:90px;    top:40px;   width:16px;   height:16px; cursor:pointer; }
#HORIZONTAL_RULER {   position: fixed;   left:107px;     top:40px;         right:50px;  height:16px;     cursor:pointer;  }
#VERTICAL_RULER {   position: fixed;     left:90px;   top:57px;         bottom:0;  width:16px;    cursor:pointer;  }


#GLOBAL_DEFS, #PROJECT_DEFS{ position:absolute; left:0; top:0;  width:1px;height:1px; overflow: hidden; }

#STAGE { position:fixed; top: 57px;   left:107px;  bottom:0; right:51px; }





#WORKSPACE,#DOCUMENTS_CONTAINER,#INTERACTION_2D { position:absolute; top: 0px;   left:0px;  bottom:0; right:0px; }


#HEADER {   height:40px; position: absolute; top:0; left:0; right:0; }
/*#FOOTER {  height:40px; position: absolute; bottom:0; left:0; right:0; white-space: nowrap;  font-size:12px; }*/

#FOOTER {
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 106px;
    right: 50px;
    white-space: nowrap;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
}

#APP_LOGO { position: absolute; left: 20px; width: 65px; height: 30px; top: 14px; background-image: url(../images/logo/janvas_logo.svg); background-repeat: no-repeat; background-size: 100%; background-position: 50% 50%; }


#ABOUT_PANEL {  background: transparent; }
/*#ABOUT_PANEL .content{  position:absolute;  left:50%; top:50%;   width:350px; height:160px;   margin-left:-175px; margin-top:-100px;  -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; z-index: 10000; }*/
#ABOUT_PANEL .content {justify-content: center;position: relative;width: 350px;height: 140px;-moz-border-radius: 4px;}
#ABOUT_PANEL .copyrightInfo {  	position:absolute; display:block; 	left:10px; 	right: 10px; 	bottom: 3px; 	height:20px; 	font-size: 9px; 	text-align:center; 	line-height: 13px; 	 }
#ABOUT_PANEL .creditsInfo {  position: absolute; display: block; left: 228px; top: 50px; width: 150px; height: 80px; font-size: 11px; text-align: left; }
#ABOUT_PANEL .versionInfo {  	position:absolute; display:block; 	right:20px; top:10px; 	width:100px; height:20px; 	font-size: 10px; 	text-align:right; 	line-height: 13px; 	 }
#ABOUT_PANEL .logo { position: absolute; display: block; left: 40px; top: 8px; width: 160px; height: 120px; background-image: url('../images/logo/janvas_logo.svg'); background-repeat: no-repeat; background-size: 100%; }


#CONTEXT_PANELS .tool-info .info span { font-weight: bold; }
#CONTEXT_PANELS .tool-info .info > div { margin-bottom:6px; line-height: 20px; }



#DOCUMENT_TITLE {position:absolute; top:10px; left:250px; right:250px; height: 20px; font-size: 14px; text-align: center; line-height: 20px;     overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap; }
#ARCHIVIE_2D_TOOLBAR {  position: absolute; right: 10px; top:2px;   }


#STYLE_TYPES{ width: 100%; margin-bottom:10px; }
#STYLE_TYPES > li{ width: 36px; height: 36px; background: none; border-radius:0; }
#STYLE_TYPES > li * { pointer-events: none; }
#STYLE_TYPES li svg {  width: 30px;  height: 30px;  border-radius: 17px; border:2px solid transparent; }
#STYLE_TYPES > li.selected svg { border:2px solid black; -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,.5); -moz-box-shadow: 2px 2px 6px rgba(0,0,0,.5); box-shadow: 2px 2px 6px rgba(0,0,0,.5);  }

#GRADIENT_TYPES > g > line{ pointer-events: none;}
#GRADIENT_TYPES >.selected{ stroke-width:3;}
#GRADIENT_SPREAD_METHODS >.selected{ stroke-width:3; }

#PATTERN_COLOR_LIST li svg { width: 19px; height: 19px; border-radius:10px;   }

/*#STROKE_WIDTH_MENU li{padding:5px 10px 5px 10px;}*/
/*#STROKE_WIDTH_MENU li>div{display:inline-block; width:10px;}*/
/*#STROKE_WIDTH_MENU li svg{margin-left:5px;}*/

#STROKE_DASH_MENU {width:120px}
#STROKE_DASH_MENU ul{padding:0;}
#STROKE_DASH_MENU ul li{padding:5px 10px 5px 10px;}



#LAYERS_2D_PANEL .content { position:absolute; top:24px; bottom:10px; left:6px; right:6px;  }
#LAYERS_2D_PANEL .layer-list {  margin:0;  padding: 0; position:absolute; top:40px; bottom:0; left:0px; right:0px; font-size: 11px;  }
#LAYERS_2D_PANEL .layer-list li { height:24px; border-radius: 12px; }
#LAYERS_2D_PANEL .layer-list li .buttonList {  margin-top: 4px; }
#LAYERS_2D_PANEL .layer-list li .buttonList li{  width:16px; height:16px;  margin-right: 6px;  opacity: 0.2; }
#LAYERS_2D_PANEL .layer-list li .buttonList li:first-child{  width:12px; height:12px; margin:2px;  margin-left:6px; margin-right:8px;  opacity: 1; }
#LAYERS_2D_PANEL .layer-list li { width:100%; position: relative;  cursor: pointer;  margin:0;  white-space: nowrap; text-align:left; }
#LAYERS_2D_PANEL .layer-list li>div>input{ background: transparent;  border: 0; margin:0; padding:0;   width:98%;  }
#LAYERS_2D_PANEL .layer-list li .label { display:block; position:absolute; top:5px; left:72px; right:6px; height:20px;  }
#LAYERS_2D_PANEL .layer-list li.visible .item-visible_icon{ opacity:1.0; }
#LAYERS_2D_PANEL .layer-list li.locked .item-locked_icon{ opacity:1.0; }
#LAYERS_2D_PANEL .layer-list li.selected{  background-color: #ffffff; font-weight: bold;}

.panel-repository #PAGES_2D_PANEL {height:100%!important;}
/*#INSPECTORS_REPOSITORY #PAGES_2D_PANEL {height:95%;}*/
#PAGES_2D_PANEL .content { position:absolute; top:24px; bottom:10px; left:6px; right:6px;  }
#PAGES_2D_PANEL .page-view-list {  margin:0;  padding: 0; position:absolute; top:40px; bottom:0; left:0px; right:0px; text-align: center;    }
#PAGES_2D_PANEL .page-view-list li.selected {  border: 2px solid #FF5722;  }
/*#PAGES_2D_PANEL .page-view-list li svg { pointer-events: none!important; }*/
#PAGES_2D_PANEL .page-view-list li div { position:absolute; top:0; left:0; width:100%; height:100%; }
#PAGES_2D_PANEL .page-view , #PAGE_2D_PANEL .page-view{ background-color: white; display:inline-block; border: 1px solid black; margin:2px; max-height: 120px; max-width: 120px; vertical-align: middle; position:relative; }

#SNAPS_2D_PANEL{padding:0; margin:0; font-size: 12px; text-align: left;}
#SNAPS_2D_PANEL .content ul { padding:0; margin:0; list-style: none; }
#SNAPS_2D_PANEL .content ul li { padding:2px; margin:0; }


#TRANSFORM_2D_PANEL .mantainAspectRatio_icon {opacity:.25;}
#TRANSFORM_2D_PANEL .mantainAspectRatio_icon.selected {opacity:1;}


#INSPECTOR_REPOSITORY,#STYLE_REPOSITORY { -webkit-border-radius:4px;   -moz-border-radius:4px; 	border-radius:4px; overflow: hidden;   }
#INSPECTOR_REPOSITORY > .panel , #STYLE_REPOSITORY > .panel{ background-color:transparent;   }



#PIVOT_DISPLAY { text-align:center;}
#PIVOT_DISPLAY .bbox { display:inline-block; position:relative; border:1px solid #b1b1b1; width:32px; height:32px;  margin:15px; }
#PIVOT_DISPLAY .bbox > * { position:absolute; width:7px; height:7px; background-color: #96A6C3;  }
#PIVOT_DISPLAY .bbox > *.selected { background-color: #4387dd; }
#PIVOT_DISPLAY .bbox > #left-top { left:-4px; top:-4px }
#PIVOT_DISPLAY .bbox > #center-top { left:50%; top:-4px; margin-left:-4px; }
#PIVOT_DISPLAY .bbox > #right-top { right:-4px; top:-4px }
#PIVOT_DISPLAY .bbox > #right-center { right:-4px; top:50%; margin-top:-4px; }
#PIVOT_DISPLAY .bbox > #right-bottom { right:-4px; bottom:-4px; }
#PIVOT_DISPLAY .bbox > #center-bottom { left:50%; bottom:-4px; margin-left:-4px; }
#PIVOT_DISPLAY .bbox > #left-bottom { left:-4px; bottom:-4px }
#PIVOT_DISPLAY .bbox > #left-center { left:-4px;  top:50%; margin-top:-4px; }
#PIVOT_DISPLAY .bbox > #center-center { left:50%; top:50%; margin-left:-4px; margin-top:-4px; }

#ISOLATE_LAYER_EDITING_TOOLBAR:not(.showed){  display:none; }
#ISOLATE_LAYER_EDITING_TOOLBAR { position: fixed; top: 57px; left: 107px; right: 51px; height: 40px; line-height: 40px; text-align: center;  font-size: 12px; font-weight: bold;  border-bottom: 1px #b3b3b3 solid;  }
#ISOLATE_LAYER_EDITING_TOOLBAR > * { display:inline; }
#ISOLATE_LAYER_EDITING_TOOLBAR > button { width:100px; height: 26px; margin-left: 10px; background-color:#3655F6; color:white;/* font-size: 10px; */ /*color:#3655F6; background-color: #4487DD;*/ }

/*
#FONT_LIBRARY_2D_PANEL .content { position:absolute; top:24px; bottom:10px; left:6px; right:6px;  }
#FONT_LIBRARY_2D_PANEL ul{ position: absolute;  top:60px; bottom: 40px; left:0; right:0; font-size: 12px;}
#FONT_LIBRARY_2D_PANEL ul > li >* {pointer-events: none;}
#FONT_LIBRARY_2D_PANEL ul > li{ width:100%; height: auto; position:relative; }
#FONT_LIBRARY_2D_PANEL ul > li a{ margin:2px 0 0 4px; }
#FONT_LIBRARY_2D_PANEL ul > li img{  width:100%; height:100%; filter: invert(100%); }
#FONT_LIBRARY_2D_PANEL ul > li input{ left: -20px;  top: 40%;  position: absolute; pointer-events: all;}


#FONT_LIBRARY_2D_PANEL.search-fonts select {width:46%;}
#FONT_LIBRARY_2D_PANEL input[type="search"] {display:none;}
#FONT_LIBRARY_2D_PANEL.search-fonts input[type="search"] {width:46%; display:inline;}
*/


.panel-repository.full-height {top:70px!important; bottom:20px!important; width:226px;  background-color:transparent;  }
.panel-repository.full-height .panel{ height:100%!important;}

.panel.library .content {  position: absolute; top: 30px; bottom:20px; left: 10px; right:10px;  }
.panel.library .content .itemList { margin:0;  padding: 0; position:absolute; top:34px; bottom:0px; left:0px; right:0px; }
.panel.library .content .itemList li{ width:26px; height:26px;   background-color: #FFFFFF;  display:inline-block;  margin:0 1px 1px 0;  padding:0; position: relative; float:left; overflow: hidden;  }
.panel.library .content .itemList.item-37x37 li{ width:37px; height:37px; }
.panel.library .content .itemList.item-150x99 li{ width:150px; height:99px; float:none; }
.panel.library .content .itemList.item-160x110 li{ width:160px; height:110px; float:none;  }
.panel.library .content .itemList li>*{pointer-events: none;}
.panel.library .content .itemList li>.title{ font-size: 11px; text-align: center;  overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap; }

.panel.library .content .query-properties input { width:100%; margin-top:2px;}

/*
.library-item-download-view>.content { width: 640px; height: 500px; left: 50%; top: 50%; margin-left: -320px; margin-top: -250px; text-align: center; }
.library-item-download-view>.content .image-view { position: absolute; top:20px; bottom:70px; left:20px; right:20px;  }
.library-item-download-view>.content .image-view img{     height: 100%;  width: 100%;  object-fit: contain; }
.library-item-download-view .image-info  { position: absolute; bottom:20px; left:20px; right:20px; height: 30px; }
.library-item-download-view .image-info button { width: 18%; }
 */




#PIXABAY_LIBRARY_2D_PANEL .query-properties select { width:50%; margin-bottom:2px;}
#PIXABAY_LIBRARY_2D_PANEL .query-properties select:nth-child(2) { width:48%; margin-left:2%;}
#PIXABAY_LIBRARY_2D_PANEL .query-properties select:nth-child(4) { width:48%; margin-left:2%;}
#PIXABAY_LIBRARY_2D_PANEL a[href="https://pixabay.com"]{ display: block; height: 30px; margin-bottom: 10px; background-image : url('../images/various/pixabay_logo.png'); background-repeat: no-repeat; background-size: contain;  background-position: center; }


#PIXABAY_IMAGE_PANEL.modal-dialog>.content{ max-width: 640px;}
#PIXABAY_IMAGE_PANEL.modal-dialog >.content img{     max-height: 500px;}


#FONT_LIBRARY_2D_PANEL .itemList>li{ width:100%; height: auto; position:relative; }
#FONT_LIBRARY_2D_PANEL .itemList>li>img{  width:100%; height:100%; filter: invert(100%); }
#FONT_LIBRARY_2D_PANEL .itemList>li>input{ pointer-events: all; }



#STROKE_WIDTH_LIBRARY_2D_PANEL .itemList li{ width:100%; height:20px; background-color: transparent; font-size:11px; }
#STROKE_WIDTH_LIBRARY_2D_PANEL .itemList li>div{display:inline-block; width:10px;}
#STROKE_WIDTH_LIBRARY_2D_PANEL .itemList li svg{margin-left:5px;}


#STROKE_DASH_ARRAY_LIBRARY_2D_PANEL .itemList li{ width:100%; height:20px; background-color: transparent; font-size:11px; }
#STROKE_DASH_ARRAY_LIBRARY_2D_PANEL .itemList li>div{display:inline-block; width:10px;}



/* è stato necessario ridefinire questi per via del fatto che per default i buttons hanno display inline-block  */
#FILL_STROKE_2D_PANEL #LIBRARY_BUTTONS>li{display:none;}
#FILL_STROKE_2D_PANEL #LIBRARY_BUTTONS>li.showed{display:inline-block;}







#MARKERS_EDITOR_2D_PANEL .content .markers-display > div  { display:inline-block;text-align: center;  }
#MARKERS_EDITOR_2D_PANEL .content .markers-display > div > * { pointer-events: none;  }
#MARKERS_EDITOR_2D_PANEL .content .markers-display > div.selected > svg { border: 2px solid black; }
#MARKERS_EDITOR_2D_PANEL .content .markers-display > div > svg { width:40px; height:40px; display:inline-block; background-color: #ffffff;  border-radius: 22px;  }
#MARKERS_EDITOR_2D_PANEL .content .markers-display > div .label { font-size: 10px; margin-bottom:3px; }
#MARKER_COLOR_LIST li svg { width: 19px; height: 19px; border-radius:10px;  border: 1px; }



#BUY_PLAN_DIALOG button { width:200px; }
/*#BUY_PLAN_DIALOG .header { margin-top: 55px; }*/
#BUY_PLAN_DIALOG>div.content { width: 800px; height: 500px; left: 50%; top: 50%; max-width: unset; text-align: center; font-size:22px;  }
#BUY_PLAN_DIALOG .plan-account { display: inline-block; width: 170px; height: 250px; margin: 10px; margin-top: 60px; margin-bottom: 60px; background-color: white; border-radius: 30px; padding: 20px;  }
#BUY_PLAN_DIALOG .plan-account div:nth-child(1) { font-size:30px; color:rgba(226,24,121,1); margin-bottom: 10px; }
#BUY_PLAN_DIALOG .plan-account div:nth-child(2) { font-size:35px; }
#BUY_PLAN_DIALOG .plan-account div:nth-child(3) { font-size:17px; }
#BUY_PLAN_DIALOG .plan-account div:nth-child(4) { font-size: 50px; margin-top: 20px;  border-top: 2px; color: rgb(226, 24, 105); font-weight: bold; line-height: 77px; }
#PLAN_ACTIVATION_SUCCESS .content div{ margin:14px;  }
#PLAN_ACTIVATION_SUCCESS .content .start-plan-date, #PLAN_ACTIVATION_SUCCESS .content .end-plan-date{ color:#3294fd;  }
#PLAN_ACTIVATION_ERROR .content { font-size: 22px; }






@page { size: A4; margin: 0; }


@media print {

    html, body { height: 99%; position: static; text-align: left;  margin:0; padding:0; background-color: white; }

    #APPLICATION > *:not(#STAGE){ display:none;  }
    #STAGE, #DOCUMENTS_CONTAINER, #STAGE #DOCUMENTS_CONTAINER > div.showed{
        display:block!important;
        position: absolute!important;
        left:0!important;
        right:0!important;
        bottom:auto!important;
        top:auto!important;
        width: 210mm!important;  height: 296mm!important;
    }
    /*#STAGE, #DOCUMENTS_CONTAINER, #STAGE #DOCUMENTS_CONTAINER > div.showed{*/
        /*display:block!important;*/
        /*position: static!important;*/
        /*left:auto!important;*/
        /*right:auto!important;*/
        /*bottom:auto!important;*/
        /*top:auto!important;*/
        /*width: 210mm!important;  height: 296mm!important;*/
    /*}*/
    #STAGE > *:not(#DOCUMENTS_CONTAINER){ display:none; }

    #DOCUMENTS_CONTAINER > .document-2D.showed > .page-2D {display:block!important; margin:0; padding:0; page-break-after: always;  width: 100%;  height: 100%; }
    #DOCUMENTS_CONTAINER > .document-2D.showed > .page-2D:last-child {  page-break-after: auto;  }
    #DOCUMENTS_CONTAINER > .document-2D.showed > .page-2D .content{ transform: matrix(1, 0, 0, 1, 0, 0); }
    #DOCUMENTS_CONTAINER > .document-2D.showed > .page-2D .foreground-layers{ display:none; }

}





